@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Old */
  --color-background: var(--bg-bottom);
  --color-foreground: var(--text-main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-bottom: var(--bg-bottom);
  --color-middle: var(--bg-middle);
  --color-top: var(--bg-top);

  /* New */
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-bg-main: var(--color-bg-main);

  --color-surface: var(--color-surface);
  --color-surface-border: var(--color-surface-border);

  --color-surface-light: var(--color-surface-light);
  --color-surface-light-border: var(--color-surface-light-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Old */
    --bg-bottom: oklch(20% 0 264);
    --bg-middle: oklch(25% 0 264);
    --bg-top: oklch(30% 0 264);

    --border-middle: var(--bg-top);
    --border-top: oklch(35% 0 264);

    /* New */
    --text-main: oklch(90% 0 264);
    --text-muted: oklch(70% 0 264);

    --color-bg-main: oklch(20% 0 264);

    --color-surface: oklch(25% 0 264);
    --color-surface-border: oklch(35% 0 264);

    --color-surface-light: oklch(30% 0 264);
    --color-surface-light-border: oklch(40% 0 264);
  }
}

body {
  background: var(--bg-bottom);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}
