@import "tailwindcss";

@theme inline {
  --color-background: var(--background);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-surface: var(--color-surface);
  --color-surface-border: var(--color-surface-border);

  --color-surface-light: var(--color-surface-light);
  --color-surface-light-border: var(--color-surface-light-border);

  --color-primary: var(--color-primary);
  --color-primary-border: var(--color-primary-border);
}


:root {
  --background: oklch(95% 0 264);

  --color-surface: oklch(90% 0 264);
  --color-surface-border: oklch(80% 0 264);

  --color-surface-light: oklch(85% 0 264);
  --color-surface-light-border: oklch(75% 0 264);

  --text-main: oklch(30% 0 264);
  --text-muted: oklch(50% 0 264);

  --color-primary: oklch(55% 0.2 245);
  --color-primary-border: oklch(65% 0.2 245);
  --color-primary-text: oklch(90% 0 264);
  --color-primary-text-muted: oklch(70% 0 264);
}

.dark {
  --background: oklch(20% 0 264);

  --text-main: oklch(90% 0 264);
  --text-muted: oklch(70% 0 264);

  --color-surface: oklch(25% 0 264);
  --color-surface-border: oklch(35% 0 264);
  --color-surface-text: oklch(90% 0 264);
  --color-surface-text-muted: oklch(70% 0 264);

  --color-surface-light: oklch(30% 0 264);
  --color-surface-light-border: oklch(40% 0 264);

  --color-primary: oklch(55% 0.2 245);
  --color-primary-border: oklch(65% 0.2 245);
  --color-primary-text: oklch(90% 0 264);
  --color-primary-text-muted: oklch(70% 0 264);
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  body {
    @apply bg-background;
  }
}